body {
    margin: 0;
    background-color: rgb(53, 53, 57) !important;
}

.body {
    margin: 0;
    background-color: rgb(53, 53, 57) !important;
}

.container {
    width: 400px;
    align-items: center;
}

.form-label {
    color: white;
}

.form-control {
    background-color: transparent !important;
    color: white;
}

#loginTextBox {
    background-color: transparent !important;
    color: white;
}

#senhaTextBox {
    background-color: transparent !important;
    color: white;
}

.btn.btn-warning {
    margin-top: 30px;
}
.pesquisarButton {
    background-color: #FFD369;
    outline: none;
    border: none;
    color: #08083D;
    font-weight: 700;
    font-size: 16px;
    transition: 0.4s all ease-in-out;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#modal {
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 400px;
    padding: 50px;
    position: fixed;
    transition: 0.5s;
    visibility: hidden;
    border-radius: 10px;
    background: #393E46;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
}

    #modal.active {
        top: 50%;
        opacity: 1;
        transition: 0.5s;
        visibility: visible;
    }

    #modal h2 {
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        margin: 0 0 10px 0;
    }

    #modal a {
        text-decoration: none;
        width: 100px;
        height: 35px;
        background-color: #ddae3e;
        border-radius: 5px;
        outline: none;
        border: none;
        color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        transition: ease 0.4s all;
        cursor: pointer;
    }

        #modal a:hover {
            background-color: #d39c1a;
        }

    #modal p {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 2.5rem;
    }

.modal-button {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#modal-button-close {
    display: flex;
    justify-content: center;
    align-items: center;
}
